<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
</head>
<body>
    <h1>Welcome!</h1>
    <form id="menuForm">
    <button id="Pantry" onclick="window.location.href='pantry'">Pantry</button>
    <button id="Recipes">Recipes</button>
    <button id="Shopping List">Shopping List</button>
    <button id="Recipes">Recipes</button>
    <button id="Timers">Timers</button>
    <button id="Settings">Settings</button>
    <button id="Logout">Logout</button></form>
</body>
</html>